<style>
    #header {
        height: 400px;
        background: url('vendor/image/header.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #list {
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
    }

    .pitch {
        height: 300px;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        overflow-y: overlay;
    }

    .pitch-body {
        padding: 10px;
    }
</style>
<div class="container-fluid" style="padding: 0">
    <div class="row" id="header">
        <div class="col-sm-3 col-xs-12">
            <form class="text-center" style="padding-left: 30px;padding-top:80px">
                <div class="form-group">
                    <select class="form-control my-focus" ng-model="vm.curPitch" ng-options="pitch.name for pitch in vm.pitches" ng-change="vm.time = vm.curPitch.times[0]"></select>
                    <br>
                    <select class="form-control my-focus" ng-model="vm.time" ng-options="time.time for time in vm.curPitch.times"></select>
                    <br>
                    <input type="date" class="form-control my-focus my-ipt" id="nowDate" ng-model="vm.date">
                </div>
                <button class="btn my-btn" ng-click="vm.rent()">Đặt sân</button>
            </form>
        </div>
        <div class="col-sm-6 col-xs-12" style="float: right; text-align: center">
            <h3 class="color-white" style="padding-top: 20px;">Đặt sân bóng online nhanh chóng và dễ dàng</h3>
        </div>
    </div>
    <div class="row" id="option">
        <div class="col-sm-3 col-xs-6">
            <h1 style="margin: 10px" class="center">
                <i class="fa fa-search" style="color: #fb8c05;  font-size: 50px"></i>
            </h1>
            <h4 class="center">Thông tin sân bóng</h4>
            <p class="center" style="color: #78909c">Địa điểm, giá sân, giờ mở cửa,... các sân bóng trong khu vực gần nơi bạn ở</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h1 style="margin: 10px" class="center">
                <i class="fa fa-calendar-check-o" style="color: #fb8c05; font-size: 50px" aria-hidden="true"></i>
            </h1>
            <h4 class="center">Đặt sân online</h4>
            <p class="center" style="color: #78909c">Lựa chọn sân gần vị trí của bạn nhất, đặt sân online, tiện lợi, dễ dàng,...</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h1 style="margin: 10px" class="center">
                <i class="fa fa-pencil-square" style="color: #fb8c05; font-size: 50px" aria-hidden="true"></i>
            </h1>
            <h4 class="center">Đăng ký sân online</h4>
            <p class="center" style="color: #78909c">Đặt thông tin sân bóng của bạn trên website, đơn giản, nhanh gọn.</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h1 style="margin: 10px" class=" center">
                <i class="fa fa-bullhorn" style="color: #fb8c05; font-size: 50px" aria-hidden="true"></i>
            </h1>
            <h4 class="center">Quảng bá sân bóng</h4>
            <p class="center" style="color: #78909c">Quảng bá hình ảnh sân bóng, thu hút khách đến sân nhiều hơn, doanh thu tăng lên.</p>
        </div>
    </div>
    <div class="row" id="list">
        <h2 class="center">Danh sách sân bóng</h2>
        <h5 class="center" style="color: #78909c">Nhanh tay đặt sân ngay hôm nay để được trải nghiệm sân bóng chất lượng cao cùng ưu đãi hấp dẫn!</h5>
        <div class="col-sm-3 col-md-3 col-xs-12" ng-repeat="pitch in vm.pitches | filter: vm.filter()">
            <div class="pitch">
                <img class="responsive-img" width="100%" height="200px" src="{{pitch.imgPath}}">
                <div class="pitch-body">
                    <h5>
                        <a class="color-orange" href="/pitch/{{pitch._id}}">Sân bóng {{pitch.name}}</a>
                        <span ng-if="pitch.rating>=1" class="glyphicon glyphicon-star color-orange"></span>
                        <span ng-if="pitch.rating>=2" class="glyphicon glyphicon-star color-orange"></span>
                        <span ng-if="pitch.rating>=3" class="glyphicon glyphicon-star color-orange"></span>
                        <span ng-if="pitch.rating>=4" class="glyphicon glyphicon-star color-orange"></span>
                        <span ng-if="pitch.rating>=5" class="glyphicon glyphicon-star color-orange"></span>
                        <span style="float: right">{{pitch.distance}}</span>
                    </h5>
                    <p>
                        <i class="fa fa-map-marker" style="font-size: 1.5rem" aria-hidden="true"></i> {{pitch.address}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>