<style>
    .navigation {
        background: #FB8C05;
        padding-right: 10px;
    }

    .navigation .icon-bar {
        background: #ffffff;
    }

    .navbar-toggle {
        border: 2px solid white;
    }

    .navbar-brand {
        color: white;


    }

    .in-out {
        cursor: pointer;
        color: white;
        padding: 10px;
    }

    .app-name {
        margin-left: 50px;
        color: white;
        text-decoration: none;
        float: left;
        height: 40px;
        padding: 10px 10px;
        font-size: 25px;
        line-height: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .search {
        width: 300px;
        background: #fb8c05;
        color: #fb8c05;
        border: none;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 10px;
        border-bottom: 1px solid white;
    }
    #search {
        margin: 0;
        width: 90%;
        background: #fb8c05;
        color: #ffffff;
        border: none;
        
    }
    input:focus {
        outline: none !important;

        border: 1px solid #fb8c05;
    }
    @media only screen and (max-width: 300px) {
        /* For desktop: */
        .search {width: 100px;}
    }
</style>
<nav class="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="app-name" href="/">Pitch7</div>
            <div class="search">
                <input type="text" placeholder="Nhập tên, địa chỉ để tìm sân" id="search">
                <i class="glyphicon glyphicon-search" style="color: #ffffff"></i>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="border-top:white">
            <ul class="nav navbar-nav navbar-right">
                <li class="in-out">
                    <span class="glyphicon glyphicon-user"></span>
                    Sign Up
                </li>
                <li class="in-out">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login
                </li>
            </ul>
        </div>
    </div>
</nav>