<style>
    .navigation {
        background: #FB8C05;
        padding-right: 10px;
    }

    .navigation .icon-bar {
        background: #ffffff;
    }

    .navbar-toggle {
        border: 2px solid white;
    }

    .in-out {
        cursor: pointer;
        color: white;
        padding: 10px;
        font-weight: bold;
    }

    .app-name {
        margin-left: 50px;
        text-decoration: none;
        float: left;
        height: 40px;
        padding: 10px 10px;
        font-size: 25px;
        line-height: 20px;
        font-weight: bold;
    }

    .app-name:focus,
    .app-name:hover {
        text-decoration: none;
        color: white;
    }

    .search {
        width: 300px;
        background: #fb8c05;
        color: #fb8c05;
        border: none;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 10px;
        border-bottom: 1px solid white;
    }

    #search {
        margin: 0;
        width: 90%;
        background: #fb8c05;
        border: none;
    }
</style>
<nav class="navigation navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="app-name color-white" href="/">Pitch7</a>
            <div class="search">
                <input class="my-focus color-white" type="text" placeholder="Nhập tên, địa chỉ để tìm sân" ng-model="vm.search" id="search"
                    ng-change="vm.searchChange()">
                <i class="glyphicon glyphicon-search color-white"></i>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="border-top:white; padding-left: 30px">
            <ul class="nav navbar-nav navbar-right">
                <li class="in-out color-white">
                    <span class="glyphicon glyphicon-plus"></span>
                    Đăng ký quản lý sân bóng
                </li>
                <li class="in-out color-white" ng-show="vm.isLogin()">
                    <span>{{vm.user.username}}</span>
                    <span class="glyphicon glyphicon-log-out" style="cursor:pointer;" ng-click="vm.logout()"></span>
                </li>
                <li class="in-out color-white" ng-show="!vm.isLogin()" >
                    <span class="glyphicon glyphicon-log-in" data-toggle="modal" data-target="#login">
                        Đăng Nhập
                    </span>
                    
                    <!-- <div ng-include="'/dialog/login/login-modal.html'"></div> -->
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a large modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>