<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal.closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thanh toán</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" ng-click="modal.clickButtonOk()" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-sm" ng-click="modal.closeModal()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>