<style>
    .color-gray {
        color: gray;
    }

    .color-black {
        color: black;
    }
</style>
<div class="row" style="position:relative; padding: 25px 0px; margin: 30px 0px;">
    <div style="background: linear-gradient(150deg, #53f 15%, #05d5ff 70%); transform: skewY(2deg); height: 300px;">
    </div>
    <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);" class="center">
        <h2 class="color-white">HỢP TÁC VỚI SPORTA?</h2>
        <h6 style="color: #eeeeee; font-size: 17px; line-height: 30px;">Bạn là chủ sân? Bạn lo lắng khi sân còn trống? Sporta hỗ trợ bạn lấp đầy lịch đặt sân với chi phí thấp nhất!</h6>
        <button class="btn my-btn">Tìm hiểu ngay</button>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="background: #f5f5f5">
        <div class="col-sm-12 col-xs-12" style="text-align:center; padding: 10px 0">
            <h5 class="color-black">Liên hệ</h5>
            <div class="row">
                <a class="col-sm-3 color-gray">
                    <i class="fa fa-phone fa-2x"></i>
                    01633461337
                </a>&nbsp;&nbsp;
                <a class="col-sm-4 color-gray">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    https://www.facebook.com/nhannt97
                </a>&nbsp;&nbsp;
                <a class="col-sm-4 color-gray">
                    <i class="fa fa-envelope fa-2x"></i>
                    nhannt97hy@gmail.com
                </a>&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

<div class="row" style="background: #ffcc80; line-height: 40px;margin-bottom: 0px; padding-left: 20px;">
    <div class="col-sm-12 col-xs-12">&copy; 2018 Pitch7 All rights reserved</div>
</div>