<div class="row" style="position:relative; padding: 25px 0px;">
    <div style="background: linear-gradient(150deg, #53f 15%, #05d5ff 70%); transform: skewY(2deg); height: 400px;">
    </div>
    <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);" class="center white-text">
      <h2>HỢP TÁC VỚI SPORTA?</h2>
      <h6 style="color: #eeeeee; font-size: 17px; line-height: 30px;">Bạn là chủ sân? Bạn lo lắng khi sân còn trống? Sporta hỗ trợ bạn lấp đầy lịch đặt sân với chi phí thấp nhất!</h6>
      <a class="waves-effect waves-light btn orange lighten-1 black-text" href="/quan-ly-san-bong">Tìm hiểu ngay</a>
    </div>
  </div>
 
<!-- <div class="row" style="padding: 25px 0px; margin-top: 40px; position:relative; height: 350px; background: linear-gradient(150deg, #53f 15%, #05d5ff 70%); transform: skewY(2deg);" > -->
        <!-- <div class="col-xs-12 col-sm-12"  >
            <h2style="color: white">HỢP TÁC VỚI PITCH-7?</h2>
            <p style="color: #eeeeee; font-size: 17px; line-height: 30px;">Bạn là chủ sân? Bạn lo lắng khi sân còn trống? Pitch-7 hỗ trợ bạn lấp đầy lịch đặt sân với chi phí thấp nhất!</p>
            <button href="#" type="button" class="btn" style="background-color: #FB8C05">Tìm hiểu ngay</a>
        </div> -->
<!-- </div> -->
<!-- <div class="row" style="margin: 10px auto 0px 15%">
    <div class="col-xs-12 col-sm-6" >
        <h3>Liên hệ</h3><br />
        <i class="fa fa-facebook-square" style="font-size:24px"></i>&nbsp;&nbsp;
        <i class="fa fa-envelope" style="font-size:24px"></i>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Về Pitch-7</h3><br />
        <p>Giới thiệu Pitch-7</p>
        <p>Điều khoản sử dụng</p>
        <p>Chính sách bảo mật</p>
        <p>Blog</p>
        <p>Về chúng tôi</p>
    </div>
</div> -->
<div class="row" style="background-color:burlywood; line-height:40px;">
    <div class="col-xs-12" style="margin-left:15%">&copy; 2018 Pitch-7 All rights reserved</div>
</div>



    
